<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
</head>
<body>
    <div class="container">
        <h1>
            <%= dateToRender %>
        </h1>
        <form action="/" method="get" style="display: inline-block;">
            <button type="submit">Log time</button>
        </form>
    </div>

    <div class="log-container">
        <ul>
            <% for(let i = 0; i < myLogs.length; i++){%>
                <li> 
                    <%= myLogs[i].description %>
                </li>
            <% }%>
        </ul>
    </div>
</body>
</html>