*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-image: url("../img/background.jpeg");
    color: white;
}




img{
    height: auto;
    width: 30vh;
    margin-left: -10rem;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
}

hr{
    margin-top: 2rem;
    opacity: 0;
}

